.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  width: 100%;
  height: calc(100vh - 110px);
  overflow: auto;
}

.responsive {
  width: 100%;
  max-width: 650px;
  height: auto;
}

.postionImage {
  display: flex;
  align-content: flex-end;
}
