* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 55px;
  top: 0;
  left: 0;
  width: 100vw;

  animation: change-background 4s ease-in infinite alternate;
  color: white;
  border-bottom: 3px solid orange;
}

@keyframes change-background {
  0% {
    background: #0277bd;
  }
  50% {
    background: #00838f;
  }
  100% {
    background: #006064;
  }
}

.logo {
  font-size: 20px;
  align-items: center;
  text-shadow: -1.5px 1.5px 2px black;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  flex-basis: auto;
  list-style: none;
  width: 85%;
}

.nav-links a {
  color: white;
  position: relative;
  text-decoration: none;
  transition: color 3s ease;
}

a::after {
  border-top: 0.1em solid white;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  transition: right 0.3s cubic-bezier(0, 0.5, 0, 1), border-color 0.3s ease-out;
}

.nav-links a:hover {
  color: orange;
  text-decoration: none;
}

.nav-links a:hover::after {
  border-color: white;
  animation: anchor-underline 2s cubic-bezier(0, 0.5, 0, 1) infinite;
}

@keyframes anchor-underline {
  0%,
  10% {
    left: 0;
    right: 100%;
  }

  40%,
  60% {
    left: 0;
    right: 0;
  }
  90%,
  100% {
    left: 100%;
    right: 0;
  }
}

.home,
.about,
.apps,
.portfolio,
.contact,
.blog,
.resume {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.mobile-menu-icon {
  display: none;
}
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*---------------------max-width: 1017px------------------*/
/*--------------------------------------------------------*/
@media (max-width: 1017px) {
  .nav-links-mobile {
    display: none;
  }
}
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*---------------------max-width: 2535px------------------*/
/*--------------------------------------------------------*/
@media (max-width: 2535px) {
  .logo {
    text-shadow: -1.5px 1.5px 2px black;
    display: block;
    position: absolute;
    align-items: center;
    left: 35px;
  }

  .nav-links-mobile {
    text-shadow: -1.5px 1.5px 2px black;
    position: absolute;
    display: block;
    list-style: none;
    padding-top: 100px;
    left: 0;
    top: 55px;
    transition: all 0.5s ease-out;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#64ffda, #006064);
  }
}
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*---------------------max-width: 1033px------------------*/
/*--------------------------------------------------------*/
@media (max-width: 1033px) {
  .logo {
    text-shadow: -1.5px 1.5px 2px black;
    display: block;
    position: absolute;
    align-items: center;
    left: 35px;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    text-shadow: -1.5px 1.5px 2px black;
    position: absolute;
    display: block;
    list-style: none;
    padding-top: 100px;
    left: 0;
    top: 55px;
    transition: all 0.5s ease-out;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#64ffda, #006064);
  }

  .home,
  .about,
  .apps,
  .portfolio,
  .contact,
  .blog,
  .resume {
    color: white;
    text-align: center;
    padding: 32;
    margin: 100%;
    transition: all 0.1s ease;
  }

  .contact {
    border: none;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: transparent;

    border: none;
    outline: none;
    right: 10px;
  }
}
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*---------------------max-width: 780px-------------------*/
/*--------------------------------------------------------*/
@media (max-width: 780px) {
  .logo {
    text-shadow: -1.5px 1.5px 2px black;
    display: block;
    position: absolute;
    align-items: center;
    left: 35px;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    text-shadow: -1.5px 1.5px 2px black;
    position: absolute;
    display: block;
    list-style: none;
    padding-top: 100px;
    left: 0;
    top: 55px;
    transition: all 0.5s ease-out;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#64ffda, #006064);
  }

  .nav-links-mobile-close {
    opacity: 0;
    text-shadow: 0px 1px 2px black;
    position: absolute;
    display: block;
    list-style: none;

    padding-top: 50%;
    left: 0;
    top: 55px;
    transition: all 0.5s ease-out;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#64ffda, #006064);
  }

  .home,
  .about,
  .apps,
  .portfolio,
  .contact,
  .blog,
  .resume {
    color: white;
    text-align: center;
    padding: 32;
    margin: 100%;
    transition: all 0.1s ease;
  }

  .contact {
    border: none;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: transparent;

    border: none;
    outline: none;
    right: 10px;
  }
}
